build/bin/
build/obj/
build/deploy/*.o
build/deploy/*.ko
build/deploy/drone_encoder
build/deploy/test_flight
build/deploy/test_*
build/deploy/include/
build/deploy/firmware/
*.o
*.swp
*.swo
.DS_Store
build/sysroot/ti/
tools/linux-kernel/_build/
tools/linux-kernel/ath_netlink.c
tools/linux-kernel/sysfs.c
tools/simulator/sim_main
tools/simulator/visual_sim
tools/simulator/video_receiver
drivers/**/*.o
drivers/**/*.ko
drivers/**/*.cmd
drivers/**/*.mod.c
drivers/**/*.mod
drivers/**/modules.order
drivers/**/Module.symvers
drivers/**/*.orig
drivers/**/.tmp_versions/
drivers/**/built-in.o
